/* body{
    margin: 0px;
}
.inp1{
  background-color: rgb(7, 6, 6);
  border-radius: 10px;
  color: white;
}
fieldset{
 background-color: rgba(0, 0, 0, 0.493);
 font-weight: 500;
 font-size: 20px;
 margin: 300px;
} */